@{
    ViewBag.Title = "Documentation";
    ViewBag.SubTitle = "Overview";
}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewBag.SubTitle</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-4">
                        <h2>Description</h2>
                        <p>
                            This is an application to keep track of a book library. Part of the selection
                            process for CSW|Solutions
                        </p>
                        <p>
                            Specs:
                            <ul>
                                <li>List books by author</li>
                                <li>Maintenance of books, authors and categories</li>
                                <li>
                                    Web API to:
                                    <ul>
                                        <li>List all books</li>
                                        <li>List books by category</li>
                                        <li>List books by author</li>
                                    </ul>
                                </li>
                            </ul>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h2>Platform and Libraries</h2>
                        <p>
                            <ul>
                                <li>ASP .NET MVC 5.0</li>
                                <li>WebAPI 2.0</li>
                                <li>Entity Framework 6</li>
                                <li>SQL Server 2014 Express</li>
                                <li>AlmsaeedStudio Bootstrap Theme</li>
                            </ul>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h2>Notes</h2>
                        <p>
                            <ul>
                                <li>Most of the pages have the correct style and layouts but not all</li>
                                <li>EF is implemented behind model services (see BooksController/Index)</li>
                                <li>EF was used with Code First and data migrations to populate initial data</li>
                                <li>All components were implemented with Dependency Injection, Inversion of Control and Unit Testing in mind</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>