@model IEnumerable<Csw.Library.Core.Entities.Book>

@{
    Layout = null;
}

<ul>
    @foreach ( var book in Model )
    {
        <li>@book.Title | @Html.ActionLink( "Edit", "Edit", new { id = book.Id } ) |
        @Html.ActionLink( "Details", "Details", new { id = book.Id } ) |
        @Html.ActionLink( "Delete", "Delete", new { id = book.Id } )</li>
    }
</ul>