@model Csw.Library.Models.BooksIndexModel


<h1>Books</h1>

<label for="authorId">Author</label>
<select id="authorId">
    <option value="0" selected="selected">-- All --</option>
    @foreach ( var author in Model.Authors )
    {
        <option value="@author.Id">@author.FullName</option>
    }
</select>

<div id="books">
</div>

@section js
{
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {

            function loadBooksView(authorId) {
                var url = "@Url.Action( "BooksByAuthor")";

                $.get(url,
                    { "authorId": authorId },
                    function (html) {
                        $("#books").html(html);
                    });
            }

            function initAuthorSelect() {
                $("#authorId")
                    .change(function () {
                        var selectedId = $("#authorId option:selected").val();
                        loadBooksView(selectedId);
                    });

                $("#authorId").trigger("change");
            }


            initAuthorSelect();
        })
    </script>
}
